@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.project-screenshot-wrapper {
  width: 100%;
  max-width: 200px; /* Set a max width */
  height: 200px; /* Set a fixed height */
  overflow: hidden; /* Hide overflow */
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-screenshot {
  width: 100%; /* Ensure the image takes the full width of the container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the container, preserving aspect ratio */
  border-radius: 8px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
